.button{
    margin-left: auto;
    transform: scale(0.6);
    margin-right: -10px;
    box-shadow: none;

}

.crossIcon{
    transform: scale(0.25);
}

@media screen and (max-width: 320px){
    .button{
        transform: scale(0.55);
    }
}

@media screen and (min-width: 319px) and (max-width: 480px){}
@media screen and (min-width: 481px) and (max-width: 768px){}
@media screen and (min-width: 769px) and (max-width: 1024px){}
@media screen and (min-width: 1025px) and (max-width: 1200px){}
@media screen and (min-width: 1201px){}