.addIcon{
    color: #0b8451;
}

.card{
    height:100%;
    width:300px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top:25vh;
}

.inputCard{
    height:60px;
    width: 300px;
    padding-bottom: 15px;
    padding-top: 35px;
}