.item{
    color: #767171;
    text-align: left;
    font-weight: normal;
    font-size: 1.3rem;
    font-family: 'Inter Tight', sans-serif;
    align-self: center;
    max-width: 70%;

}

.itemContainer{
    display: flex;
    align-items: center;
    flex-grow: 2;
}

@media screen and (max-width: 320px){
    .item{
        font-size:1rem;
        max-width: 70%;
    }

}
/*
@media screen and (min-width: 319px) and (max-width: 480px){}
@media screen and (min-width: 481px) and (max-width: 768px){}
@media screen and (min-width: 769px) and (max-width: 1024px){}
@media screen and (min-width: 1025px) and (max-width: 1200px){}
@media screen and (min-width: 1201px){}*/