.item{
    color: #767171;
    text-align: left;
    font-weight: normal;
    font-size: 1.3rem;
    font-family: 'Inter Tight', sans-serif;
    align-self: center;
}

.itemContainer{
    display: flex;
    flex-wrap: wrap;

}